body{
    background-color: #2F2F2F;
}

.frontxt{
    color: #f1f1f1;
    text-align: justify-all;
    margin: 200px;

}
.frontxt img{

    float: right;


}


.frontBotton {
    display: flex;
    justify-content: center;
    align-items: self-end;
    padding: 10px;
    width: 160px;
    border-radius: 30px;
    background-image: linear-gradient(#ee4546, rgba(255, 66, 66, 0.71));
    border: solid 1px #ee4546;
    border-right-width: 4px;
    border-bottom-width: 4px;
    margin: 200px;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
.txtD{
    font-family: Jomolhari;
    color: #3588aa;
}

.logoimg{
    float: right;

}
pulse {
    animation: pulse 0.7s infinite;
    margin: 10px;
    display: table;
    margin-top: 100px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
    }
    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(200%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(100%);
    }
    100% {
        transform: scale(1.1);
        filter: brightness(200%);
    }
}