body{
    background-color: #282a36;
    margin: 0;
    padding: 0;

}

.sidebar {
    width: 200px;
    background-color: #262626;
    color: #f8f8f2;
    padding: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #f8f8f2;
    text-decoration: none;
}

.content {
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.5s;

}

.topic {
    display: none;
    color: #f8f8f2;
    padding: 15px;
    text-align: center;
}

.topic.active {
    display: block;
}

.menuOculto{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}
.menuOculto a{
    padding: 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.41);
    transition: 0.3s;

}

.menuOculto a:hover{
    color: #f8f8f2;
}

.btnFechar{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.titl{
    color: #f8f8f2;

}
.pointerbt{
    color: #f8f8f2;
}
#formatxt{
    float: left;
}

.ryzen-processors {
    display: flex;
    flex-direction: column;
}
.ryzen-processors div {
    margin: 5px 0;
}
.linhas{
width: 50%;
margin-left: 0;

}

.titulos{
    text-align: left;
}
.paragcpu{
    color: #ffb86c;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}